<h1><%= link_to @post.title, @post.url %></h1>
<%= pluralize(@post.comments.count, "comment") %> !

<ul>
	<% @post.comments.each do |comment| %>
		<li><%= comment.content %></li>
	<% end %>
</ul>

<%= link_to 'Back to all', posts_path %>